<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>SkillSwap - Home</title>
  <link rel="stylesheet" href="../static/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">

</head>

<body>

  <!-- ===== Header (Banner) ===== -->
  <header>
    <div class="logo" onclick="window.location.href='/index.html'" style="cursor: pointer;">SkillSwap</div>
    <nav class="nav-actions">
      <p class="signed-in-text" id="signed-in-text"></p> <!-- Placeholder for Signed-in User -->
      <a href="/create_post.html">Add Listing</a>
      <a href="#">Profile</a>
    </nav>
  </header>

  <!-- ===== Main Content ===== -->
  <main>
    <!-- Categories -->
    <section class="categories">
      <div class="category">Coding</div>
      <div class="category">Cooking</div>
      <div class="category">Music</div>
      <div class="category">Language</div>
      <div class="category">Art</div>
      <div class="category">Sports</div>
      <div class="category">Math</div>
    </section>

    <!-- Search Bar -->
    <section class="search-bar" id="search-bar">
      <input type="text" placeholder="Search for skills..." />
    </section>


    <section class="postings">



    </section>

  </main>

  <!-- ===== Footer ===== -->
  <footer>
    <p>&copy; 2025 SkillSwap. All rights reserved.</p>
  </footer>

  <script src="../static/js/script.js"></script>
</body>

</html>