<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/signin.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">

    <style>
        body {
            background: linear-gradient(135deg, #C68BF8, #5FA3FA);
        }
    </style>
</head>

<body>

    <h1 style="color: whitesmoke;font-weight: bold; font-family: Nunito;">
        <a href="../Homepage/homepage.html" style="color: inherit; text-decoration: None;">SkillSwap</a>
    </h1>

    <!-- The Actual Form -->
    <div class="form-box">
        <form class="form">
            <span class="title">Sign In</span>
            <span class="subtitle">Log into your account by email.</span>
            <div class="form-container">
                <input type="email" class="input" placeholder="Email" id="f1">
                <input type="password" class="input" placeholder="Password" id="f2">
                <span class="error-message" id="error-message">Incorrect email or password</span>
            </div>
            <button id="sign-in-button" style="font-family: Nunito;">Sign In</button>
        </form>
        <div class="form-section">
            <p>By signing in, you agree with our <a href="">Terms & conditions</a> and <a href="">Privacy agreement</a>
            </p>
            <p>Don't have an account? <a href="register.html">Sign Up</a> </p>
        </div>
    </div>

    <script src="../static/js/signin.js"></script>
</body>

</html>