<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">

<style>
    body {
        background: linear-gradient(135deg, #5FA3FA, #C68BF8);
    }
</style>
</head>

<body>

<h1 style="color: whitesmoke;font-weight: bold; font-family: Nunito;">
    <a href="../Homepage/homepage.html" style="color: inherit; text-decoration: None;">SkillSwap</a>
</h1>

<!-- The Actual Form -->
<div class="form-box">
    <form class="form">
        <span class="title">Skill Set</span>
        <span class="subtitle">What skills can you teach others?</span>
        <div class="form-container">
            <input type="text" class="input" placeholder="Skill 1" id="f1" required="required">
            <input type="text" class="input" placeholder="Skill 2" id="f1.2" required="required">
            <input type="email" class="input" placeholder="Skill 3" id="f2">
        </div>
        <button id="submit-button" style="font-family: Nunito;">Submit</button>
    </form>
</div>

<script src="../static/js/skillset.js"></script>
</body>

</html>
